<settings>
  <proxies>
    <proxy>
      <id>example-proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>192.0.2.12</host>
      <port>8080</port>
    </proxy>
    <proxy>
      <id>example-proxys</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>192.0.2.12</host>
      <port>8080</port>
    </proxy>
  </proxies>
</settings>
